SECURE_SETTINGS = {
    'lti_oauth_credentials': {
        'test': 'secret',
    },
    'client_id': 'change-me',
    'client_secret': 'change-me',
    'canvas_token': 'change-me',
    'django_secret_key': 'change-me',
    'enable_debug': True,  # Enable when running locally
    # Following settings are used for deployment
    #  'log_root': /path/to/log/file,
    #  'database': {},  # Dictionary of db settings for non-sqlite dbs
    #  'redis_cache_host': None,  # Location of redis cache host
    #  'redis_sessions_host': 'localhost', 
    #  'redis_sessions_port': 6379,
    #  'use_secure_cookies': False,  # Should enable when running over SSL
    #  'log_level': 'DEBUG',  # Default log level for loggers and handlers
    #  'enable_test_logging': False,  # Whether to log when running unit tests
}
