SECURE_SETTINGS = {
    'LTI_OAUTH_CREDENTIALS': {
        '{{ secure_settings.lti_key }}': '{{ secure_settings.lti_secret }}',
    },
    
    'CLIENT_ID': '{{ secure_settings.client_id }}',
    'CLIENT_SECRET': '{{ secure_settings.client_secret }}',
    
    'ADMINS': (),
    
    'DJANGO_DB_USER': '{{ secure_settings.django_db_user }}',
    'DJANGO_DB_PASS': '{{ secure_settings.django_db_pass }}',
    
    'CANVAS_TOKEN': '{{ secure_settings.canvas_token }}',
    
    'DJANGO_SECRET_KEY': '{{ secure_settings.django_secret_key }}',
    
    'email_host': '{{ secure_settings.email_host }}',
    'email_host_user': '{{ secure_settings.email_host_user }}',
    'email_host_password': '{{ secure_settings.email_host_password }}',
    'email_use_tls': '{{ secure_settings.email_use_tls }}',
    'email_port': '{{ secure_settings.email_port }}',
}
