SECURE_SETTINGS = {
    'lti_oauth_credentials': {
        '{{ secure_settings.lti_key }}': '{{ secure_settings.lti_secret }}',
    },
    'client_id': '{{ secure_settings.client_id }}',
    'client_secret': '{{ secure_settings.client_secret }}',
    'django_db_user': '{{ secure_settings.django_db_user }}',
    'django_db_pass': '{{ secure_settings.django_db_pass }}',
    'canvas_token': '{{ secure_settings.canvas_token }}',
    'django_secret_key': '{{ secure_settings.django_secret_key }}',
}
