<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <title>A/B Testing Tool</title>
    <link rel="stylesheet" href="{% static 'ab_tool/css/bootstrap.min.css' %}" type="text/css"/>
</head>
<body>
<div class="container">
    {% if intervention_points %}
    <form method="POST" action="{% url 'ab_testing_tool_submit_selection' %}">
        <h4> To install a new Intervention Point, select one from list of uninstalled intervention points below:</h4>
        <br>
        <select name="intervention_point_id">
        {% for intervention_point in intervention_points %}
            <option value="{{intervention_point.id}}">Experiment "{{intervention_point.experiment.name}}", Intervention Point <span>"{{intervention_point.name}}"</span></option>
        {%endfor %}
        </select>
    <input type="hidden" value="{{content_return_url}}" name="content_return_url">
    <br><br>
    <input type="submit" value="Add From List" class="btn btn-large btn-primary submit">
    </form>
    <br>
    {% else %}
    <h4> There are no uninstalled intervention points at this time.  Go to the A/B Testing Tool dashboard to create them.
    {% endif %}
</div>
<script src="{% static 'ab_tool/js/jquery-1.10.1.min.js' %}"></script>
<script src="{% static 'ab_tool/js/edit_intervention_point.js' %}"></script>
</body>
</html>
