<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <title>A/B Testing Tool</title>
    <link rel="stylesheet" href="{% static 'ab_tool/css/styles.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'ab_tool/css/jqueryDropdown.css' %}" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'ab_tool/css/font-awesome-4.2.0/css/font-awesome.min.css' %}">
</head>
<body>
<div class="container-modal">
    <main>
        {% if intervention_points %}
        <form class="form-horizontal" method="POST" action="{% url 'ab_testing_tool_submit_selection' %}">

            <fieldset  class="fieldset-noborder">
                <legend class="sr-only">Tracks for experiment</legend>

                <div class="form-group-inline">
                    <label for="intervention_point_dd"> To install a new Intervention Point, select one from list of uninstalled intervention points below:</label>
                    <div class="custom-dropdown">
                        <select id="intervention_point_id" name="intervention_point_id">
                        {% for intervention_point in intervention_points %}
                            <option value="{{intervention_point.id}}">Experiment "{{intervention_point.experiment.name}}" -- Intervention Point "{{intervention_point.name}}"</option>
                        {%endfor %}
                        </select>
                    </div>
                    
                    <button class="btn btn-submit-primary">Add From List</button>

                    <input type="hidden" value="{{content_return_url}}" name="content_return_url">
                    
                </div>
            </fieldset>
        </form>
        <br>
        {% else %}
        <h4> There are no uninstalled intervention points at this time.  Go to the A/B Testing Tool dashboard to create them.</h4>
        {% endif %}

    </main>
</div>
<script src="{% static 'ab_tool/js/jquery-1.10.1.min.js' %}"></script>
<script src="{% static 'ab_tool/js/edit_intervention_point.js' %}"></script>
<script src="{% static 'ab_tool/js/jquery.dropdown.js' %}" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function(){
   
    $('select').selectmenu({
        format: function(text){
            var pattern = /([\s\S]+)\-\- ([\s\S]+)/;
            var replacement = '<span class="option-title">$1</span><span class="option-description">$2</span>';
            return text.replace(pattern, replacement);
        }
    });

});
</script>

</body>
</html>


