<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <title>A/B Testing Tool</title>
    <link rel="stylesheet" href="{% static 'ab_tool/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'ab_tool/css/jquery-ui.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'ab_tool/css/control_panel.css' %}" type="text/css"/>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h2>A/B Testing Control Panel</h2>
      <p>Welcome administrator. Manage your A/B course intervention points here.</p>
    </div>

    <div id="tabs">
    <!-- BEGIN Tabs-->
    <ul>
    <li><a href="#tabs-1">Tracks</a></li>
    <li><a href="#tabs-2">Intervention Points</a></li>
    <li><a href="#tabs-5">Student Assignment</a></li>
    <li><a href="#tabs-3">Course Modules</a></li>
    <li><a href="#tabs-4">Data</a></li>
    </ul>
        <!-- Tab for Tracks-->
        <div id="tabs-1">
             <div class="span8">
                <p> Create and edit your Tracks here. You can assign students to a track <b> only after </b> finalizing your tracks.</p>
                <p>Helpful tip: a "Track" is a series of interventions that a cohort of students is assigned to experience.</p>
                <br>
                {% if not is_finalized %}
                
                <a id="finalize_button" class="btn btn-lg btn-danger" {% if incomplete_intervention_points %} href="#incomplete_intervention_points_modal" {% elif missing_track_weights %} href="#missing_track_weights_modal" {% else %} href="#finalize_modal" {% endif %} data-toggle="modal" > Finalize Tracks</a>

                {% if incomplete_intervention_points %}
                <!-- START Modal code for incomplete_intervention_points confirmation box-->
                <div id="incomplete_intervention_points_modal" class="modal fade" role="dialog" aria-labelledby="incomplete_intervention_points_modal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Some Intervention Points Are Missing URLs</h4>
                            </div>
                            <div class="modal-body">
                                <p>Complete your intervention points by filling in the URLs fields for all tracks.</p>
                                <p class="text-warning">These following intervention points are incomplete: {{ incomplete_intervention_points|join:", " }} </p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-lg btn-primary" data-dismiss="modal"> Close </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Modal code for incomplete_intervention_points confirmation box-->
                {% endif %}
                
                {% if missing_track_weights %}
                <!-- START Modal code for missing_track_weights confirmation box-->
                <div id="missing_track_weights_modal" class="modal fade" role="dialog" aria-labelledby="missing_track_weights" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Some Tracks Are Missing Weights</h4>
                            </div>
                            <div class="modal-body">
                                <p>Complete your Track weights by filling out weights for all tracks.</p>
                                <p class="text-warning">These following tracks are missing weights: {{ missing_track_weights|join:", " }} </p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-lg btn-primary" data-dismiss="modal"> Close </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Modal code for missing_track_weights confirmation box-->
                {% endif %}
                
                <!-- START Modal code for Finalize Tracks confirmation box-->
                <div id="finalize_modal" class="modal fade" role="dialog" aria-labelledby="finalize_modal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Finalize Tracks Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to finalize your tracks?</p>
                                <p class="text-warning">Finalizing tracks cannot be undone. Once finalized, tracks can no longer be created or deleted. Existing tracks can still be edited. </p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-lg btn-primary" data-dismiss="modal"> Close </a>
                                <a class="btn btn-lg btn-danger" href="{% url 'ab:finalize_tracks' experiment.id %}"> Yes, Finalize Tracks </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Modal code for Finalize Tracks confirmation box-->
                <br>
                {% else %}
                <a id="create_track_button_disabled" class="btn btn-lg btn-success disabled"> Create New Track</a>
                <a id="finalize_button_disabled" class="btn btn-lg btn-danger disabled"> Finalize Tracks</a>
                <br><br>
                <h4 class="text-center nowrap">Tracks Are Finalized.</h4>
                <h5 class="text-center nowrap">Note: Tracks can no longer be deleted or created. Existing tracks can still be edited.</h5>
                {% endif %}
                <br>
                <div class="list-group span4">
                    {% for m in tracks %}
                        <h4>
                            <span><strong>{{m.name}} </strong></span>
                        </h4>
                    {% empty %}
                        <br>
                        <p>No Tracks found.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Tab for Intervention Points-->
        <div id="tabs-2">
            <div class="span8">
                <p> Create and edit your Intervention Points here.</p>
                <p>Helpful tip: an "Intervention Point" is a specific place in the course where you want to A/B test across your student track groups using a intervention URL for each track group.</p>
                <br>
                <a id="create_new_intervention_point_button" class="btn btn-lg btn-success" style="align:left" href="{% url 'ab:create_intervention_point' %}"> Create New Intervention Point</a>
                <br><br>
        
                <div class="list-group span4">
                    {% for t in intervention_points %}
                    <a href="{% url 'ab:edit_intervention_point' t.id %}" class="list-group-item"><strong>{{t.name}}</strong> <i>{{t.is_missing_urls|yesno:"- URLs missing,complete"}}</i></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Tab for Modules-->
        <div id="tabs-3">
            <div class="span8">
                <p> See where A/B intervention points are positioned in your modules here. </p>
                <br>
                <div class="list-group span4">
                    {% for m in modules %}
                        <h4><a class="list-group-item" id="module_{{m.id}}"> <strong>Module: {{m.name}}</strong></a></h4>
                        <div id="module_items_{{m.id}}" style="display: none">
                                <ul class="list-group">
                                    {% for i in m.module_items %}
                                        {% if i.is_intervention_point %}
                                            <a class="list-group-item active">{{i.title}} | <i> Intervention Point</i></a>
                                        {% else %}
                                            <p class="list-group-item">{{i.title|default:"[ Item not titled]"}}</p>
                                        {% endif %}
                                    {% empty %}
                                        <p>No items found in this module.</p>
                                    {% endfor %}
                                </ul>
                        </div>
                    {% empty %}
                        <p>No modules found.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Tab for Data-->
        <div id="tabs-4">
            <div class="span8">
                <p> Download a CSV file of your A/B testing data here. </p>
                <br>
                <a id="download_data_button" href="{% url 'ab:download_data' %}" class="btn btn-lg btn-primary"> Download Data</a>
                <a id="download_intervention_point_deployments_button" href="{% url 'ab:download_intervention_point_deployments' %}" class="btn btn-lg btn-primary"> Download Intervention Point Deployments</a>
            </div>
        </div>

    <!-- End Tabs-->
    </div>
</div>

<script src="{% static 'ab_tool/js/jquery-1.10.1.min.js' %}"></script>
<script src="{% static 'ab_tool/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'ab_tool/js/bootstrap.min.js' %}"></script>

<!-- JS for expanding modules-->
<script>

{% for m in modules %}
$( "#module_" + {{m.id}}).click(function() {
$( "#module_items_" + {{m.id}}).toggle('fast');
});
{% endfor %}

// JS for tabbed UI
$(function() {
$( "#tabs" ).tabs();
});
</script>

</body>
</html>
