<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <title>A/B Testing Tool</title>
    <link rel="stylesheet" href="{% static 'ab_tool/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'ab_tool/css/jquery-ui.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'ab_tool/css/control_panel.css' %}" type="text/css"/>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h2>A/B Testing Control Panel</h2>
      <p>Welcome administrator. Manage your A/B experiments here. </p>
    </div>


    <div id="tabs">
    <!-- BEGIN Tabs-->
    <ul>
    <li><a href="#tabs-1">Experiments</a></li>
    <li><a href="#tabs-3">Course Modules</a></li>
    </ul>
    
        <!-- Tab for Tracks-->
    
        <div id="tabs-1">
                {% if not is_finalized %}
                <div class="col-lg-10 col-md-12 col-sm-12">
                <a id="create_experiment_button" class="btn btn-lg btn-success btn-block "  href="{% url 'ab:create_experiment' %}" >Create New Experiment</a>
                </div>
                <br>
                {% include "ab_tool/modals.html" %}
                <br>
                {% else %}
                <a id="finalize_button_disabled" class="btn btn-lg btn-danger disabled"> Finalize Tracks</a>
                <br><br>
                <h4 class="text-center nowrap">Tracks Are Finalized.</h4>
                <h5 class="text-center nowrap">Note: Tracks can no longer be deleted or created. Existing tracks can still be edited.</h5>
                {% endif %}
                
                <br>
                <div class="list-group">
                {% for experiment in experiments %}
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <h4><a href="{% url 'ab:edit_experiment' experiment.id %}" class="list-group-item  col-lg-4 col-md-4 col-sm-4 clearfix" id="experiment_{{experiment.id}}">
                                    <span><strong>Experiment</strong> "{{experiment.name}}" has {{experiment.tracks.count}} tracks</span>
                                </a>
                            </h4>
                            <div class="col-lg-8 col-md-8 col-sm-8" >
                                <a id="finalize_button" class="btn btn btn-danger" href="{% url 'ab:finalize_tracks' experiment.id %}"> Start Experiment</a>
                                <a id="add_intervention_point_button" class="btn btn btn-success" href="{% url 'ab:create_intervention_point' experiment.id %}"> Add Intervention Point</a>
                                <a id="download_students_button" href="{% url 'ab:download_data' experiment.id %}" class="btn btn btn-info"> Download Students</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1">
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="list-group">
                                {% for t in intervention_points %}
                                    {% if experiment.id == t.experiment.id %}
                                        <a href="{% url 'ab:edit_intervention_point' t.id %}" class="list-group-item"><strong>Intervention Point</strong> "{{t.name}}" <i>{{t.is_missing_urls|yesno:"- URLs missing,complete"}}</i> | <i> in experiment "{{t.experiment.name}}"</i></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                        </div>
                    </div>
                {% empty %}
                    <br>
                    <p>No Experiments.  Create a new one to get started.</p>
                {% endfor %}
                </div>
        </div>
        
        <!-- Tab for Modules-->
        <div id="tabs-3">
            <div class="span8">
                <p> See where A/B intervention points are positioned in your modules here. </p>
                <br>
                <div class="list-group span4">
                    {% for m in modules %}
                        <h4><a class="list-group-item" id="module_{{m.id}}"> <strong>Module: {{m.name}}</strong></a></h4>
                        <div id="module_items_{{m.id}}" style="display: none">
                                <ul class="list-group">
                                    {% for i in m.module_items %}
                                        {% if i.is_intervention_point %}
                                            <a class="list-group-item active">{{i.title}} | <i> Intervention Point</i></a>
                                        {% else %}
                                            <p class="list-group-item">{{i.title|default:"[ Item not titled]"}}</p>
                                        {% endif %}
                                    {% empty %}
                                        <p>No items found in this module.</p>
                                    {% endfor %}
                                </ul>
                        </div>
                    {% empty %}
                        <p>No modules found.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'ab_tool/js/jquery-1.10.1.min.js' %}"></script>
<script src="{% static 'ab_tool/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'ab_tool/js/bootstrap.min.js' %}"></script>

<!-- JS for expanding modules-->
<script>

{% for m in modules %}
$( "#module_" + {{m.id}}).click(function() {
$( "#module_items_" + {{m.id}}).toggle('fast');
});
{% endfor %}

// JS for tabbed UI
$(function() {
$( "#tabs" ).tabs();
});
</script>

</body>
</html>
