<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <title>A/B Testing Tool</title>
    <link rel="stylesheet" href="{% static 'ab_tool/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'ab_tool/css/jquery-ui.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'ab_tool/css/control_panel.css' %}" type="text/css"/>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h2>A/B Testing Control Panel</h2>
      <p>Welcome administrator. Manage your A/B course intervention points here.</p>
    </div>

    <div id="tabs">
    <!-- BEGIN Tabs-->
    <ul>
    <li><a href="#tabs-1">Tracks</a></li>
    <li><a href="#tabs-2">Intervention Points</a></li>
    <li><a href="#tabs-5">Student Assignment</a></li>
    <li><a href="#tabs-3">Course Modules</a></li>
    <li><a href="#tabs-4">Data</a></li>
    </ul>
        <!-- Tab for Tracks-->
        <div id="tabs-1">
             <div class="span8">
                <p> Create and edit your Tracks here. You can assign students to a track <b> only after </b> finalizing your tracks.</p>
                <p>Helpful tip: a "Track" is a series of interventions that a cohort of students is assigned to experience.</p>
                <br>
                {% if not is_finalized %}
                <a id="create_track_button" class="btn btn-lg btn-success"  href="{% url 'ab:create_track' %}"> Create New Track</a>
                <a id="finalize_button" class="btn btn-lg btn-danger" {% if incomplete_intervention_points %} href="#incomplete_intervention_points_modal" {% else %} href="#finalize_modal" {% endif %} data-toggle="modal" > Finalize Tracks</a>
                {% if incomplete_intervention_points %}
                <!-- START Modal code for incomplete_intervention_points confirmation box-->
                <div id="incomplete_intervention_points_modal" class="modal fade" role="dialog" aria-labelledby="finalize_modal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Some Intervention Points Are Missing URLs</h4>
                            </div>
                            <div class="modal-body">
                                <p>Complete your intervention points by filling in the URLs fields for all tracks.</p>
                                <p class="text-warning">These following intervention points are incomplete: {{ incomplete_intervention_points|join:", " }} </p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-lg btn-primary" data-dismiss="modal"> Close </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Modal code for incomplete_intervention_points confirmation box-->
                {% endif %}
                
                <!-- START Modal code for Finalize Tracks confirmation box-->
                <div id="finalize_modal" class="modal fade" role="dialog" aria-labelledby="finalize_modal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Finalize Tracks Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to finalize your tracks?</p>
                                <p class="text-warning">Finalizing tracks cannot be undone. Once finalized, tracks can no longer be created or deleted. Existing tracks can still be edited. </p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-lg btn-primary" data-dismiss="modal"> Close </a>
                                <a class="btn btn-lg btn-danger" href="{% url 'ab:finalize_tracks' %}"> Yes, Finalize Tracks </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Modal code for Finalize Tracks confirmation box-->
                <br>
                {% else %}
                <a id="create_track_button_disabled" class="btn btn-lg btn-success disabled"> Create New Track</a>
                <a id="finalize_button_disabled" class="btn btn-lg btn-danger disabled"> Finalize Tracks</a>
                <br><br>
                <h4 class="text-center nowrap">Tracks Are Finalized.</h4>
                <h5 class="text-center nowrap">Note: Tracks can no longer be deleted or created. Existing tracks can still be edited.</h5>
                {% endif %}
                <br>
                <div class="list-group span4">
                    {% for m in tracks %}
                        <h4><a href="{% url 'ab:edit_track' m.id %}" class="list-group-item clearfix" id="track_{{m.id}}">
                                <span><strong>{{m.name}} </strong></span>
                            </a>
                        </h4>
                    {% empty %}
                        <br>
                        <p>No Tracks found.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Tab for Intervention Points-->
        <div id="tabs-2">
            <div class="span8">
                <p> Create and edit your Intervention Points here.</p>
                <p>Helpful tip: an "Intervention Point" is a specific place in the course where you want to A/B test across your student track groups using a intervention URL for each track group.</p>
                <br>
                <a id="create_new_intervention_point_button" class="btn btn-lg btn-success" style="align:left" href="{% url 'ab:create_intervention_point' %}"> Create New Intervention Point</a>
                <br><br>
        
                <div class="list-group span4">
                    {% for t in intervention_points %}
                    <a href="{% url 'ab:edit_intervention_point' t.id %}" class="list-group-item"><strong>{{t.name}}</strong> <i>{{t.is_missing_urls|yesno:"- URLs missing,complete"}}</i></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Tab for Modules-->
        <div id="tabs-3">
            <div class="span8">
                <p> See where A/B intervention points are positioned in your modules here. </p>
                <br>
                <div class="list-group span4">
                    {% for m in modules %}
                        <h4><a class="list-group-item" id="module_{{m.id}}"> <strong>Module: {{m.name}}</strong></a></h4>
                        <div id="module_items_{{m.id}}" style="display: none">
                                <ul class="list-group">
                                    {% for i in m.module_items %}
                                        {% if i.is_intervention_point %}
                                            <a class="list-group-item active">{{i.title}} | <i> Intervention Point</i></a>
                                        {% else %}
                                            <p class="list-group-item">{{i.title|default:"[ Item not titled]"}}</p>
                                        {% endif %}
                                    {% empty %}
                                        <p>No items found in this module.</p>
                                    {% endfor %}
                                </ul>
                        </div>
                    {% empty %}
                        <p>No modules found.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Tab for Data-->
        <div id="tabs-4">
            <div class="span8">
                <p> Download a CSV file of your A/B testing data here. </p>
                <br>
                <a id="download_data_button" href="{% url 'ab:download_data' %}" class="btn btn-lg btn-primary"> Download Data</a>
            </div>
        </div>


        <!-- Tab for Student Assignment-->
        <div id="tabs-5">
            <div class="span8">
                <p> Select your student assignment method here. The assignment method selected is how students will be assigned to tracks.</p>
                <p>Helpful tip: The assignment method defaults to 'Uniform Random'. Students are randomly assigned to a track upon hitting their first intervention point.</p>
                <br>
                <div class="media-body">
                  <h4 class="media-heading">Uniform Random (Default)</h4>
                    <p>Using this method, students are randomly assigned a track, with every track having an equal chance.</p>
                </div>
                <br>
                <div class="media-body">
                  <h4 class="media-heading">Weighted Probability Random</h4>
                    <p>Using this method, students are randomly assigned a track that are weighted by your specified probabilities. <b>Note that student assignment is probabilistic and does not guarantee a number of students belonging to a certain track.</b></p>
                </div>
                <br>
                <div class="media-body">
                  <h4 class="media-heading">Upload a CSV file</h4>
                    <p>Using this method, you, the admin, will upload a CSV file containing a mapping of which students should be assigned to which track. The tool will provide you a template CSV file to download containing which students have joined the course so far. If more students join the course, the system will alert you to fill out and upload a new CSV file to assign the newly joined students.</p>
                </div>
                <br>
                <form class="form" method="post" action="{% url 'ab:submit_assignment_method' %}">
                <div class="row">
                    <div class="col-lg-12">
                        <input type="radio" name="assignment_method" value="{{course_settings.UNIFORM_RANDOM}}" {% if course_settings.assignment_method == course_settings.UNIFORM_RANDOM %} checked="checked" {% endif %} > Uniform Random
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="radio" name="assignment_method" value="{{course_settings.WEIGHTED_PROBABILITY_RANDOM}}" {% if course_settings.assignment_method == course_settings.WEIGHTED_PROBABILITY_RANDOM  %} checked="checked" {% endif %}> Weighted Probability Random
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <input type="radio" name="assignment_method" value="{{course_settings.CSV_UPLOAD}}" {% if course_settings.assignment_method == course_settings.CSV_UPLOAD %} checked="checked" {% endif %}> Upload a CSV file
                    </div>
                </div>
                <br>
                {% if not is_finalized %}
                <div class="row">
                    <div class="col-lg-12"><input type="submit" name="submit" id="update_assignment_button" class=" btn btn-lg btn-primary" value="Submit Changes"></div>
                </div>
                {% else %}
                <h4 >Tracks Are Finalized.</h4>
                <p> Because students can at this point start joining tracks, student assignment method cannot be changed.</p>
                <div class="row">
                    <div class="col-lg-12"><input type="submit" name="submit" id="update_assignment_button" class=" btn btn-lg btn-primary disabled" value="Submit Changes"></div>
                </div>
                {% endif %}
                {% if not is_finalized and course_settings.assignment_method == course_settings.WEIGHTED_PROBABILITY_RANDOM %}
                    <a id="assign_track_weights_button" class="btn btn-lg btn-primary"  href="{% url 'assign_track_weights' %}"> Assign Track Probabilities</a>
                {% endif %}
                {% if is_finalized and course_settings.assignment_method == course_settings.WEIGHTED_PROBABILITY_RANDOM %}
                    <a id="assign_track_weights_button" class="btn btn-lg btn-primary disabled"  href=""> Assign Track Probabilities</a>
                {% endif %}

                </form>
            </div>
        </div>

    <!-- End Tabs-->
    </div>
</div>

<script src="{% static 'ab_tool/js/jquery-1.10.1.min.js' %}"></script>
<script src="{% static 'ab_tool/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'ab_tool/js/bootstrap.min.js' %}"></script>

<!-- JS for expanding modules-->
<script>

{% for m in modules %}
$( "#module_" + {{m.id}}).click(function() {
$( "#module_items_" + {{m.id}}).toggle('fast');
});
{% endfor %}

// JS for tabbed UI
$(function() {
$( "#tabs" ).tabs();
});
</script>

</body>
</html>
