{% extends "ab_tool/base_lti.html" %}
{% load static %}

{% block stylesheet %}
{{ block.super }}
{% endblock %}
{% block content %}

<div class="container">
    <header>
        <h1><span> Editing Intervention Point "{{intervention_point.name}}"</span></h1>
    </header>

    <main>
            <form role="form" method="post" class="form-horizontal" name="intervention_point_form"
            action="{% url 'ab_testing_tool_submit_edit_intervention_point_from_modules' intervention_point.id %}">
            
                <fieldset>
                    <legend class="sr-only">Name of experiment</legend>
                    
                    <div class="form-group-inline-left">
                        <label for="intervention_{{intervention_point.id}}">Name:</label>
                        <input type="text" name="name" id="intervention_{{intervention_point.id}}"
                            class="form-control" value="{{intervention_point.name}}">
                        <!--a href="#"><i class="fa fa-question-circle"></i></a-->
                    </div>

                </fieldset>
                
                {% for track_url in intervention_point.track_urls %}
                <fieldset>
                    <legend class="sr-only">Tracks for experiment</legend>

                    <div class="form-group-inline-left">
                            
                        <label for="intervention_point_url_{{track_url.track.id}}">Track "{{track_url.track.name}}":</label>
                        <input type="url" name="intervention_point_url_{{track_url.track.id}}"
                                    id="intervention_point_url_{{track_url.track.id}}" class="form-control"
                                    value="{{track_url.url}}">
                        <!--a href="#"><i class="fa fa-question-circle"></i></a-->
                    </div>
                    
                    <div class="form-group-inline-right">
                            
                        <label for="is_canvas_page_for_track_{{track_url.track.id}}">Open:</label>
                        <div class="custom-dropdown">
                            <select name="is_canvas_page_for_track_{{track_url.track.id}}"
                                id="is_canvas_page_for_track_{{track_url.track.id}}">
                                <option {% if not track_url.open_as_tab and track_url.is_canvas_page %}selected="selected"{% endif %}
                                    value="canvasPage">
                                    Canvas URL -- Learners in this track are redirected to this Canvas page.
                                </option>
                                <option {% if not track_url.open_as_tab and not track_url.is_canvas_page %}selected="selected"{% endif %}
                                    value="externalPage">
                                    External URL in Canvas -- Learners in this track view this page within Canvas.
                                </option>
                                <option {% if track_url.open_as_tab %}selected="selected"{% endif %}
                                    value="newTab">
                                    In new tab -- Learners in this track open this page in a new tab.
                                </option>
                            </select>
                        </div>
                        <!--a href="#"><i class="fa fa-question-circle"></i></a-->
                    </div>
                </fieldset>
                {% endfor %}
                
                <fieldset class="fieldset-noborder">
                    <legend class="sr-only">Notes about your experiment</legend>

                    <div class="form-group-inline-left">
                        <label for="interventionPointNotes">Notes</label>
                        <textarea name="notes" id="interventonPointNotes" class="form-control">{{ intervention_point.notes }}</textarea>
                    </div>
                </fieldset>

                <a id="update-cancel" class="btn btn-link" href="{% url 'ab_testing_tool_modules_page_view_intervention_point' intervention_point.id %}">Cancel</a>
                <button type="submit" class="btn btn-submit-primary" value="Save">Update</button>

            </form>

    </main>
</div>

{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'ab_tool/js/jquery.dropdown.js' %}" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function(){
   
    $('select').selectmenu({
        format: function(text){
            var pattern = /([\s\S]+)\-\- ([\s\S]+)/;
            var replacement = '<span class="option-title">$1</span><span class="option-description">$2</span>';
            return text.replace(pattern, replacement);
        }
    });

});
</script>
{% endblock %}
