
{% extends "ab_tool/base_lti.html" %}
{% load static %}

{% block stylesheet %}
{{ block.super }}
{% endblock %}

{% block content %}
<div ng-app="ABToolExperiment" ng-controller="experimentController">

<div class="container">
    <header>
        <div class="row lti-header">
            {% if create %}
                <h1><a href="{% url 'ab_testing_tool_create_experiment' %}">Create New Experiment</a></h1>
            {% else %}
                <h1><a href="{% url 'ab_testing_tool_edit_experiment' experiment.id %}">Edit Experiment "{{experiment.name}}"</a></h1>
            {% endif %}
        </div>
    </header>
    <main>
        <div class="row row-lti col-md-8">
            {% if create %}
                <h3><a href="{% url 'ab_testing_tool_index' %}">All Experiments</a> &rsaquo; <span>New Experiment</span></h3>
            {% else %}
                <h3><a href="{% url 'ab_testing_tool_index' %}">All Experiments</a> &rsaquo; <span>Editing Experiment {{experiment.name}}</span></h3>
            {% endif %}
            <form class="form-horizontal" role="form">
                <div class="form-group col-md-8">
                    <label for="experimentName">Name:</label>
                    <input type="text" name="experimentName" id="experimentName"
                        class="form-control" ng-model="experiment.name" placeholder="Experiment Name">
                </div>
                
                {% verbatim %}
                <div class="form-group col-md-8" id="expStructure">
                    <label>Experiment structure</label><br>
                    <ul id="expWeights" class="list-unstyled">
                        <!-- Angular loop over tracks -->
                            <li class="expTrack" ng-repeat="track in experiment.tracks">
                                <a href="#" data-track="delete">X</a>
                                <!-- Show different weighting if uniformRandom is set -->
                                <label ng-hide="experiment.uniformRandom">
                                    <input type="number" min="0" max="100" step="1"
                                        data-track="value" data-trackindex="1"
                                        maxlength="2" size="2"
                                        ng-pattern="/^\d+$/" ng-model="track.weighting"> %
                                </label>
                                <label ng-show="experiment.uniformRandom">
                                    <input type="text" disabled="disabled" size="2"
                                        ng-cloak value="{{uniformPercent()}}">%
                                </label>
                                <label class="control-label">
                                    <span data-track="name" title="Edit track name" ng-cloak>Track "{{track.name}}"</span>
                                </label>
                            </li>
                        <!-- End Angular loop over tracks -->
                    </ul>
                </div>
                {% endverbatim %}
                
                <div class="form-group col-md-8">
                    <!-- Hide weighting if uniformRandom is set -->
                    <label ng-hide="experiment.uniformRandom">
                        <input type="number" min="0" max="100" step="1"
                                data-track="value" data-trackindex="1"
                                maxlength="2" size="2" placeholder="0"
                                ng-pattern="/^\d+$/" ng-model="newTrackWeighting"> %
                    </label>
                    <input type="text" name="newTrackName" id="newTrackName" placeholder="Enter track name" ng-model="newTrackName">
                    <a ng-click="addTrack()" class="btn btn-default btn-xs" id="addTrack">Add Track</a>
                </div>
                
                <div class="panel panel-default col-md-8">
                    <div class="panel-body">
                        <label><input type="checkbox" name="uniformRandom" ng-model="experiment.uniformRandom"> Give each track equal weighting (uniform random)</label>
                    </div>
                </div>
                
                <!-- Disabled until project phase 2
                    <div class="form-group col-md-8">
                        <label class="control-label">Sort type:</label>
                        <ul class="list-unstyled">
                            <li><input type="radio" name="sort" value="sortAt_start" checked> Sort upon student's course registration</li>
                            <li><input type="radio" name="sort" value="sortAt_tool"> Sort upon student encountering first intervention</li>
                        </ul>
                    </div>
                -->
                
                <div class="form-group col-md-8">
                    <label class="control-label" for="experimentNotes">Notes</label>
                    <textarea name="experimentNotes" id="experimentNotes" placeholder="Additional notes about experiment..." class="form-control" ng-model="experiment.notes"></textarea>
                </div>
                
                <div class="form-group col-md-8">
                    <a id="update-cancel" ng-click="cancel()">Cancel</a>
                    {% if create %}
                        <button class="btn btn-primary" id="create-confirm" data-toggle="modal" data-target="#confirmSubmit">Create</button>
                    {% else %}
                        <button class="btn btn-primary" id="update-confirm" data-toggle="modal" data-target="#confirmSubmit">Update</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </main>
</div>

<!-- create confirmation (start) -->

<div class="modal fade" id="confirmSubmit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        {% if create %}
            <h4 class="modal-title">Create Summary</h4>
        {% else %}
            <h4 class="modal-title">Edit Summary</h4>
        {% endif %}
      </div>
      <div class="modal-body">
        <p>Review your experiment set up and choose if you want to be sort at start or at tool</p>
        <h4>Details:</h4>
        {% verbatim %}
        <dl id="expSummary" class="dl-horizontal">
            <dt>Name:</dt><dd>{{experiment.name}}</dd>
            <!-- Angular loop over tracks -->
                <div ng-repeat="track in experiment.tracks">
                    <dt ng-cloak>Track "{{track.name}}":</dt>
                        <!-- Show different weighting if uniformRandom is set -->
                        <dd ng-cloak ng-hide="experiment.uniformRandom">{{track.weighting}}%</dd>
                        <dd ng-cloak ng-show="experiment.uniformRandom">{{uniformPercent()}}%</dd>
                </div>
            <!-- End Angular loop over tracks -->
            <dt>Notes:</dt><dd>{{experiment.notes}}</dd>
        </dl>
        {% endverbatim %}
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        {% if create %}
            <button type="button" id="createNow" class="btn btn-primary" ng-click="submit()">Submit Create</button>
        {% else %}
            <button type="button" id="createNow" class="btn btn-primary" ng-click="submit()">Submit Update</button>
        {% endif %}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- create confirmation (end) -->

</div> <!-- end angular app -->
{% endblock %}

{% block javascript %}
{{ block.super }}
{% if create %}
    <script type="text/javascript">
    
    window.initialExperiment = {"name": "", "notes": "", "uniformRandom": true,
        "tracks": [{"id": null, "name": "A"}, {"id": null, "name": "B"}]};
    window.modifiedExperiment = JSON.parse(JSON.stringify(window.initialExperiment));
    
    window.submitURL = "{% url 'ab_testing_tool_submit_create_experiment' %}";
    
    </script>
{% else %}
    <script type="text/javascript">
    
    window.initialExperiment = JSON.parse("{{ experiment.to_json | escapejs}}");
    window.modifiedExperiment = JSON.parse("{{ experiment.to_json | escapejs}}");
    
    window.submitURL = "{% url 'ab_testing_tool_submit_edit_experiment' experiment.id %}";
    
    </script>
{% endif %}
<script type="text/javascript">
    window.parentPage = "{% url 'ab_testing_tool_index' %}";
</script>

<script src="{% static "ab_tool/js/angular-1.2.27.min.js" %}"></script>
<script src="{% static "ab_tool/js/experiment.js" %}"></script>

{% endblock %}
