<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <title>A/B Testing Tool</title>
    <link rel="stylesheet" href="{% static 'ab_tool/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'ab_tool/css/dashboard.css' %}" type="text/css"/>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h2>Track "{{track.name|default:"Unnamed"}}"</h2>
        <table class="table">
        <tbody>
        <tr>

        <td><p>Created: {{track.created_on}} | Last updated: {{track.updated_on}} </p></td>
        {% if track.id and not is_finalized%}
        <td class="text-right nowrap"><a id="delete_track_button" href="{% url 'ab:delete_track' track.id %}" class="btn btn-lg btn-danger">Delete Track</a></td>
        {% elif track.id and is_finalized %}
        <td class="text-right nowrap"><a id="delete_track_button_disabled" class="btn btn-lg btn-danger disabled">Delete Track</a></td>
        {% endif %}
        </tr>
        </tbody>
        </table>
    </div>
            {% if track.id and is_finalized %}
            <h4 class="text-center nowrap">Tracks Are Finalized.</h4>
            <h5 class="text-center nowrap">Note: Tracks can no longer be deleted or created. Existing tracks can still be edited.</h5>
            {% endif %}
            <form method="post" name="track_form"
                {% if track.id %} action="{% url 'ab:submit_edit_track' track.id %}"
                {% else %} action="{% url 'ab:submit_create_track' experiment_id %}" {% endif %}>
            {% csrf_token %}
                <table class="table table-striped">
                <tr align="left">
                    <td><label>Track Name</label></td>
                    <td><input class="form-control"  type="text" name="name" value="{{ track.name }}"/></td>
                </tr>
                <tr align="left">
                    <td><label>Track Notes</label></td>
                    <td><textarea name="notes" rows="6" cols="80" >{{ track.notes }}</textarea></td>
                </tr>
                <tr>
                <td></td>
                <td><input id="submit_edit_track_button" type="submit" name="submit" value="Submit Changes" class="btn btn-lg btn-success submit">
                <a id="cancel_submit_edit_track_button" href="{% url 'ab:index' %}" class="btn btn-lg btn-primary">Cancel</a></td>
                </tr>
                </table>

           </form>

<script src="{% static 'ab_tool/js/jquery-1.10.1.min.js' %}"></script>

</body>
</html>

