<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <title>A/B Testing Tool</title>
    <link rel="stylesheet" href="{% static 'ab_tool/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'ab_tool/css/dashboard.css' %}" type="text/css"/>
</head>

<body>
<div class="container containter-fluid">
    <div class="jumbotron">
        <h2>Track Probability Weightings</h2>
    </div class="row">
            <form method="post" class="form-horizontal" name="track_weightings_form" action="{% url 'ab:submit_track_weights' %}">
            {% csrf_token %}
                <div class="col-lg-6 col-md-6 col-sm-6 ">
                    {% for t, s in weighting_objs %}
                    <row>
                        <div class="col-lg-6"><label>Probability Weighting for Track "{{t.name}}" </label></div>
                        <div class="col-lg-6"><input id="weight_for_track_{{t.id}}" class="form-control"  min="0.00" max="100.00" type="number" step="0.01"  name="weight_for_track_{{t.id}}" value="{{ s.weighting }}"/></div>
                    </row>
                    {% endfor %}
                    <row>
                    <div class="col-lg-12 ">
                        <input id="submit_edit_track_weight_button" type="submit" name="submit" value="Submit Changes" class="btn btn-lg btn-success submit">
                    {% block cancel_url %}
                        <a id="cancel_submit_edit_track_weight_button" href="{{ cancel_url }}" class="btn btn-lg btn-primary">Cancel</a></td>
                    {% endblock %}
                    </div>
                </div>
           </form>
</div>
<script src="{% static 'ab_tool/js/jquery-1.10.1.min.js' %}"></script>
<script src="{% static 'ab_tool/js/bootstrap.min.js' %}"></script>
</body>
</html>
