
{% extends "ab_tool/base_lti.html" %}
{% load static %}

{% block stylesheet %}
{{ block.super }}
{% endblock %}

{% block content %}

<div class="container">
    <header>
        <div class="row lti-header">
            <h1><a href="{% url 'ab_testing_tool_edit_experiment' experiment.id %}">Edit Experiment "{{experiment.name}}"</a></h1>
        </div>
    </header>
    <main>
        <div class="row row-lti col-md-8">
            <h3><a href="{% url 'ab_testing_tool_index' %}">All Experiments</a> &rsaquo; <span>Editing Experiment {{experiment.name}}</span></h3>
            
            <form class="form-horizontal" role="form">
                <div class="form-group col-md-8">
                    <label for="experimentName">Name:</label>
                    <input type="text" name="experimentName" id="experimentName"
                        class="form-control" value="{{experiment.name}}" placeholder="Experiment Name">
                </div>
                
                <div class="form-group col-md-8" id="expStructure">
                    <label>Experiment structure</label><br>
                    <ul id="expWeights" class="list-unstyled">
                        {% for track in experiment.tracks %}
                        <li class="expTrack">
                            <a href="#" data-track="delete">X</a>
                            <input name="track_id_{{track.id}}" type="number"
                                min="0" max="100" step="1" data-track="value"
                                id="track_id_{{track.id}}" data-trackindex="1"
                                maxlength="2" size="2" value="{{track.get_weighting}}"> %
                            <label class="control-label" for="track_id_{{track.id}}">
                                <span data-track="name" title="Edit track name">Track "{{track.name}}"</span>
                            </label>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                
                <div class="form-group col-md-8">
                    <input type="text" name="newTrackWeight" id="newTrackWeight" placeholder="0" maxlength="2" size="2"> %
                    <input type="text" name="newTrackName" id="newTrackName" placeholder="Enter track name">
                    <a href="#" class="btn btn-default btn-xs" id="addTrack">Add Track</a>
                </div>
                
                <div class="panel panel-default col-md-8">
                    <div class="panel-body">
                        <input type="checkbox" name="uniformRandom"> Give each track equal weighting (uniform random)
                    </div>
                </div>
                
                <div class="form-group col-md-8">
                    <label class="control-label">Sort type:</label>
                    <ul class="list-unstyled">
                        <li><input type="radio" name="sort" value="sortAt_start" checked> Sort upon student's course registration</li>
                        <li><input type="radio" name="sort" value="sortAt_tool"> Sort upon student encountering first intervention</li>
                    </ul>
                </div>
                
                <div class="form-group col-md-8">
                    <label class="contro-label" for="experimentNotes">Notes</label>
                    <textarea name="experimentNotes" id="experimentNotes" placeholder="Additional notes about experiment..." class="form-control">{{experiment.notes}}</textarea>
                </div>
                
                <div class="form-group col-md-8">
                    <a id="update-cancel" href="{% url 'ab_testing_tool_index' %}">Cancel</a>
                    <button class="btn btn-primary" id="update-confirm" data-toggle="modal" data-target="#updateExperiment">Update</button>
            </form>
        </div>
    </main>
</div>

<!-- create confirmation (start) -->

<div class="modal fade" id="updateExperiment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Create Summary</h4>
      </div>
      <div class="modal-body">
        <p>Review your experiment set up and choose if you wnat to be sort at start or at tool</p>
        <h4>Details:</h4>
        <dl id="expSummary" class="dl-horizontal"></dl>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="createNow" class="btn btn-primary" onClick="">Yes, Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- create confirmation (end) -->


{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static "js/experiment.js" %}"></script>
<script type="text/javascript">
$(document).ready(function(){
    
    var newObjExp = new Experiment(
                                $('#experimentName').val()
                                , $("input[name='sort']:checked").val()
                                , $('textarea#experimentNotes').val()
                            );
    
    $("ul#expWeights li").each(function( index ) {
        var name = $(this).find("[data-track='name']").text();
        var value = $(this).find("[data-track='value']").val();
        
        newObjExp.addTracks(name, value);
    });
    
    $('#addTrack').bind('click', function(e){
        newObjExp.addTrackInput('#expWeights');
    });
    
    
    $('#expWeights').on('click', "[data-track='delete']", function(e){
        newObjExp.deleteTrackInput(this);
        newObjExp.getTracks();
    });
    
    $('#update-confirm').bind('click', function(e){
        var updatedObjExp = new Experiment(
                                $('#experimentName').val()
                                , $("input[name='sort']:checked").val()
                                , $('textarea#experimentNotes').val()
                            );
        
        $("ul#expWeights li").each(function( index ) {
            var name = $(this).find("[data-track='name']").text();
            var value = $(this).find("[data-track='value']").val();
            
            updatedObjExp.addTracks(name, value);
        });
        //empty ul before displaying it
        $('#expSummary').empty();
        $('#expSummary').append(
            '<dt>Name:</dt><dd>' + updatedObjExp.expName + '</dd>' +
            updatedObjExp.getTracks() +
            '<dt>Sort</dt><dd>' + updatedObjExp.sortType + '</dd>' +
            '<dt>Notes:</dt><dd>' + updatedObjExp.notes + '</dd>'
        );
        
        //newObjExp.getTracks();
    });
    
    $('#update-cancel').bind('click', function(){
        //tmp object use to check against original for updates before cancelling
        var tmpObj = {};
        $("ul#expWeights li").each(function( index ) {
            var name = $(this).find("[data-track='name']").text();
            var value = $(this).find("[data-track='value']").val();
            
            tmpObj[name] = value;
        });
        
        //has name changed?
        //has the numbers of tracks or their data changed?
        if ( $('#experimentName').val() != newObjExp.expName ||
            !(newObjExp.isEquivalent(newObjExp.getTrObj(), tmpObj)) ||
            $("input[name='sort']:checked").val() != newObjExp.sortType ||
            $('textarea#experimentNotes').val() != newObjExp.notes ){
            
            if (confirm("You have unsaved changes. Are you sure you want to cancel?") == true) {
                location.href="{% url 'ab_testing_tool_submit_edit_experiment' experiment.id %}";
            }
        }
    });
});
</script>
{% endblock %}
