
{% extends "ab_tool/base_lti.html" %}
{% load static %}

{% block stylesheet %}
{{ block.super }}
{% endblock %}

{% block content %}
<div ng-app="ABToolExperiment" ng-controller="experimentController">

<div class="container">
    <header>
        <div class="row lti-header">
            <h1><a href="{% url 'ab_testing_tool_edit_experiment' experiment.id %}">Edit Experiment "{{experiment.name}}"</a></h1>
        </div>
    </header>
    <main>
        <div class="row row-lti col-md-8">
            <h3><a href="{% url 'ab_testing_tool_index' %}">All Experiments</a> &rsaquo; <span>Editing Experiment {{experiment.name}}</span></h3>
            
            <form class="form-horizontal" role="form">
                <div class="form-group col-md-8">
                    <label for="experimentName">Name:</label>
                    <input type="text" name="experimentName" id="experimentName"
                        class="form-control" value="{{experiment.name}}" placeholder="Experiment Name">
                </div>
                
                {% verbatim %}
                <div class="form-group col-md-8" id="expStructure">
                    <label>Experiment structure</label><br>
                    <ul id="expWeights" class="list-unstyled">
                        <!-- Angular loop over tracks -->
                            <li class="expTrack" ng-repeat="track in experiment.tracks">
                                <a href="#" data-track="delete">X</a>
                                <input type="number" min="0" max="100" step="1"
                                    data-track="value" data-trackindex="1"
                                    maxlength="2" size="2"
                                    ng-pattern="/^\d+$/" ng-model="track.weighting"> %
                                <label class="control-label">
                                    <span data-track="name" title="Edit track name">Track "{{track.name}}"</span>
                                </label>
                            </li>
                        <!-- End Angular loop over tracks -->
                    </ul>
                </div>
                {% endverbatim %}
                
                <div class="form-group col-md-8">
                    <input type="number" min="0" max="100" step="1"
                            data-track="value" data-trackindex="1"
                            maxlength="2" size="2" placeholder="0" maxlength="2" size="2"
                            ng-pattern="/^\d+$/" ng-model="newTrackWeighting"> %
                    <input type="text" name="newTrackName" id="newTrackName" placeholder="Enter track name" ng-model="newTrackName">
                    <a ng-click="addTrack()" class="btn btn-default btn-xs" id="addTrack">Add Track</a>
                </div>
                
                <div class="panel panel-default col-md-8">
                    <div class="panel-body">
                        <input type="checkbox" name="uniformRandom" ng-model="experiment.uniformRandom"> Give each track equal weighting (uniform random)
                    </div>
                </div>
                
                <div class="form-group col-md-8">
                    <label class="control-label">Sort type:</label>
                    <ul class="list-unstyled">
                        <li><input type="radio" name="sort" value="sortAt_start" checked> Sort upon student's course registration</li>
                        <li><input type="radio" name="sort" value="sortAt_tool"> Sort upon student encountering first intervention</li>
                    </ul>
                </div>
                
                <div class="form-group col-md-8">
                    <label class="contro-label" for="experimentNotes">Notes</label>
                    <textarea name="experimentNotes" id="experimentNotes" placeholder="Additional notes about experiment..." class="form-control" ng-model="experiment.notes"></textarea>
                </div>
                
                <div class="form-group col-md-8">
                    <a id="update-cancel" href="{% url 'ab_testing_tool_index' %}">Cancel</a>
                    <button class="btn btn-primary" id="update-confirm" data-toggle="modal" data-target="#updateExperiment">Update</button>
                </div>
            </form>
        </div>
    </main>
</div>

<!-- create confirmation (start) -->

<div class="modal fade" id="updateExperiment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Create Summary</h4>
      </div>
      <div class="modal-body">
        <p>Review your experiment set up and choose if you want to be sort at start or at tool</p>
        <h4>Details:</h4>
        {% verbatim %}
        <dl id="expSummary" class="dl-horizontal">
            <dt>Name:</dt><dd>{{experiment.name}}</dd>
            <div ng-repeat="track in experiment.tracks">
                <dt>{{track.name}}</dt><dd>{{track.weighting}}</dd>
            </div>
            <dt>Notes:</dt><dd>{{experiment.notes}}</dd>
        </dl>
        {% endverbatim %}
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="createNow" class="btn btn-primary" onClick="">Yes, Create</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- create confirmation (end) -->

</div> <!-- end angular app -->
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static "ab_tool/js/angular.min.js" %}"></script>
<script src="{% static "ab_tool/js/experiment.js" %}"></script>
<script type="text/javascript">
window.initialExperiment = {
    name: "{{experiment.name | escapejs}}",
    notes: "{{experiment.notes | escapejs}}",
    uniformRandom: {% if uniform_random %} true {% else %} false {% endif %},
    tracks: [
        {% for track in experiment.tracks.all %}
        {
            id: "{{track.id | escapejs}}",
            weighting: {% if track.get_weighting != None %} {{ track.get_weighting | escapejs}} 
                            {% else %} null {% endif %},
            name: "{{track.name | escapejs}}",
        },
        {% endfor %}
    ],
};

$(document).ready(function(){
    
    var newObjExp = new Experiment(
                                $('#experimentName').val()
                                , $("input[name='sort']:checked").val()
                                , $('textarea#experimentNotes').val()
                            );
    
    $("ul#expWeights li").each(function( index ) {
        var name = $(this).find("[data-track='name']").text();
        var value = $(this).find("[data-track='value']").val();
        
        newObjExp.addTracks(name, value);
    });
    
    $('#addTrack').bind('click', function(e){
        newObjExp.addTrackInput('#expWeights');
    });
    
    
    $('#expWeights').on('click', "[data-track='delete']", function(e){
        newObjExp.deleteTrackInput(this);
        newObjExp.getTracks();
    });
    
    $('#update-cancel').bind('click', function(){
        //tmp object use to check against original for updates before cancelling
        var tmpObj = {};
        $("ul#expWeights li").each(function( index ) {
            var name = $(this).find("[data-track='name']").text();
            var value = $(this).find("[data-track='value']").val();
            
            tmpObj[name] = value;
        });
        
        //has name changed?
        //has the numbers of tracks or their data changed?
        if ( $('#experimentName').val() != newObjExp.expName ||
            !(newObjExp.isEquivalent(newObjExp.getTrObj(), tmpObj)) ||
            $("input[name='sort']:checked").val() != newObjExp.sortType ||
            $('textarea#experimentNotes').val() != newObjExp.notes ){
            
            if (confirm("You have unsaved changes. Are you sure you want to cancel?") == true) {
                location.href="{% url 'ab_testing_tool_submit_edit_experiment' experiment.id %}";
            }
        }
    });
});
</script>
{% endblock %}
