<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8" />
    <title>A/B Testing Tool</title>
    <link rel="stylesheet" href="{% static 'ab_tool/css/bootstrap.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'ab_tool/css/dashboard.css' %}" type="text/css"/>
</head>

<body>
<div class="container containter-fluid">
    <div class="jumbotron">
        <table class="table">
        <tbody>
        <h2>A/B Intervention Point "{{intervention_point.name|default:"Unnamed"}}"</h2>
        <!-- <td class="text-right nowrap"><a href="/" class="btn btn-lg btn-primary" id="delete">Go To Dashboard</a></td>-->
        <tr>
        <td ><p>Created: {{intervention_point.created_on}} | Last updated: {{intervention_point.updated_on}} </p></td>
        {% if intervention_point.id and not is_installed %}
        <td class="text-right nowrap"><a id="delete_intervention_point_button" href="{% url 'ab:delete_intervention_point' intervention_point.id %}" class="btn btn-lg btn-danger">Delete Intervention Point</a></td>
        {% elif intervention_point.id and is_installed%}
        <td class="text-right nowrap"><a id="delete_intervention_point_button_disabled" class="btn btn-lg btn-danger disabled">Delete Intervention Point</a></td>
        {% endif %}
        </tr>
        </tbody>
        </table>
    </div class="row-fluid">
            {% if intervention_point.id and is_installed %}
            <h4 class="text-center nowrap">Intervention Point Is Installed.</h4>
            <h5 class="text-center nowrap">Note: Intervention Point must first be uninstalled before it can be deleted</h5>
            {% endif %}
            <form method="post" class="form-horizontal" name="intervention_point_form"
                {% if intervention_point.id %} action="{% url 'ab:submit_edit_intervention_point' intervention_point.id %}"
                {% else %} action="{% url 'ab:submit_create_intervention_point' experiment.id %}" {% endif %}>
            {% csrf_token %}
                <table class="table">
                <tr align="left">
                    <td><label>Intervention Point Name</label></td>
                    <td><input class="form-control"  type="text" name="name" value="{{ intervention_point.name }}"/></td>
                </tr>
                {% for t, s in tracks %}
                <tr align="left" class="url_box">
                    <td class="col-xs-3"><label>URL for Track "{{t.name}}" </label></td>
                    <td class="col-xs-4"><input id="url_{{t.id}}" class="form-control url_box_input"  type="url"  name="intervention_point_url_{{t.id}}" value="{{ s.url }}"/></td>
                    <td class="col-xs-3">
                        <input type="radio" name="is_canvas_page_for_track_{{t.id}}" value="non_canvas_url" {% if not s.is_canvas_page %} checked="checked" {% endif %}> Non-Canvas Page
                        <br>
                        <input type="radio" name="is_canvas_page_for_track_{{t.id}}" value="canvas_url" {% if s.is_canvas_page %} checked="checked" {% endif %}> Canvas Page
                    </td>
                    <td class="col-xs-2"><input type="checkbox"  name="open_as_tab_for_track_{{t.id}}" value="true" {% if s.open_as_tab == True %} checked="checked" {% endif %} > Open In New Tab</td>
                    <td><a id="preview_{{t.id}}" target="_blank" href="" class="btn btn-xs btn-success preview-btn">Preview URL</a></td>
                </tr>
                {% endfor %}
                <tr align="left">
                    <td><label>Intervention Point Notes</label></td>
                    <td><textarea name="notes" rows="3" cols="80" >{{ intervention_point.notes }}</textarea></td>
                </tr>
                <tr>
                <td></td>
                <td><input id="submit_edit_intervention_point_button" type="submit" name="submit" value="Submit Changes" class="btn btn-lg btn-success submit">
                {% block cancel_url %}
                <a id="cancel_submit_edit_intervention_point_button" href="{{ cancel_url }}" class="btn btn-lg btn-primary">Cancel</a></td>
                {% endblock %}
                </tr>
                </table>

           </form>
</div>
<script src="{% static 'ab_tool/js/jquery-1.10.1.min.js' %}"></script>
<script src="{% static 'ab_tool/js/bootstrap.min.js' %}"></script>
<script src="{% static 'ab_tool/js/edit_intervention_point.js' %}"></script>
</body>
</html>
