
{% extends "ab_tool/base_lti.html" %}
{% load static %}

{% block stylesheet %}
{{ block.super }}
{% endblock %}

{% block content %}


<header>
    <div>
        <h1>A/B Testing Dashboard</h1>
    </div>
</header>
<main>

    <p>
        Welcome to the A/B Testing dashboard. Manage your A/B Testing Experiments here. More information is available at our <a href="https://github.com/penzance/ab-testing-tool/wiki/Help">documentation wiki</a>.
    </p>
    <div class="dashboard">
        <div class="dashboard-totals">
            <dl class="list list-dashboard-totals">
                <dt>Experiment{% if experiments|length != 1 %}s{% endif %}</dt>
                <dd>{{experiments|length}}</dd>
            </dl>
            <dl class="list list-dashboard-totals">
                <dt>Intervention Point{% if intervention_points|length != 1 %}s{% endif %}</dt>
                <dd>{{intervention_points|length}}</dd>
            </dl>
            <dl class="list list-dashboard-totals">
                <dt>Uninstalled Intervention Point{% if uninstalled_intervention_points|length != 1 %}s{% endif %}</dt>
                <dd>{{uninstalled_intervention_points|length}}</dd>
            </dl>
        </div>
        <a href="#modules_installations" data-toggle="modal" class="btn btn-dashboard btn-modules">
            <i class="fa fa-search"></i>
            Modules
        </a>
        <a href="{% url 'ab_testing_tool_create_experiment' %}" class="btn btn-dashboard btn-newExperiment">
            <i class="fa fa-plus"></i>
            New Experiment
        </a>
    </div>

    <div class="row row-lti col-md-8">

        <!--h2><a href="{% url 'ab_testing_tool_create_experiment' %}">Add an Experiment</a></h2-->
        {% for experiment in experiments %}
            <div class="panel panel-experiment"><!-- exp (start) -->
                <div class="panel-wrapper">
                    <div class="panel-heading">
                        <h3 class="panel-title panel-title-experiment">Experiment "{{experiment.name}}"</h3>

                        {% if experiment.get_incomplete_intervention_point_names %}
                            <a href="#incomplete_intervention_points_modal{{experiment.id}}" data-toggle="modal" class="btn btn-icon btn-experiment-start"><i class="fa fa-play-circle"></i>Start Experiment
                        {% elif not experiment.tracks_finalized %}
                            <a href="#finalize_modal{{experiment.id}}" data-toggle="modal" class="btn btn-icon btn-experiment-start"><i class="fa fa-play-circle"></i>Start Experiment
                        {% else %}
                            <a href="#" class="btn btn-icon btn-experiment-start disabled">Experiment started
                        {% endif %}
                            </a>

                        <dl class="list list-horizontal">
                            <dt class="list-item-title">Sort by:</dt>
                            {% if experiment.assignment_method == experiment.WEIGHTED_PROBABILITY_RANDOM %}
                                <dd>Weighted random</dd>
                            {% elif experiment.assignment_method == experiment.UNIFORM_RANDOM %}
                                <dd>Uniform random</dd>
                            {% endif %}
                            <dt class="list-item-title">Tracks:</dt>
                            <dd>{{experiment.tracks.count}}</dd>
                            <dt class="list-item-title">Intervention Points:</dt>
                            <dd>{{experiment.intervention_points.count}}</dd>
                            <dt class="list-item-title">Last modified:</dt>
                            <dd>{{experiment.updated_on}}</dd>
                        </dl>

                    </div>
                    <div class="exp-edit" data-toggle="tooltip" data-placement="right" title="Edit experiment">
                        <div class="arrow-left"></div>
                        <a href="{% url 'ab_testing_tool_edit_experiment' experiment.id %}" id="experiment_{{experiment.id}}" class="btn btn-icon-only exp-btn-global">
                            <i class="fa fa-pencil"></i><span>Edit</span>
                        </a>
                    </div>
                    <div class="exp-delete" data-toggle="tooltip" data-placement="left" title="Delete experiment">
                        <div class="arrow-right"></div>
                        {% if experiment.id in deletable_experiment_ids %}
                            <a href="#delete_modal{{experiment.id}}" data-toggle="modal" class="btn btn-icon-only exp-btn-global">
                                <i class="fa fa-trash"></i><span>Delete</span>
                            </a>
                        {% else %}
                           <a href="#" class="btn btn-icon-only exp-btn-global disabled">
                                <i class="fa fa-trash"></i><span>Delete</span>
                            </a>
                        {% endif %}
                    </div>
                    {% if experiment.intervention_points.count == 0 %}
                    <div class="panel-noInterventions">
                    {% else %}
                    <div class="panel-body">
                    {% endif %}
                        <ul class='intervention-points'>
                            {% for intervention_point in experiment.intervention_points.all %}
                                <li>
                                    {% if intervention_point in uninstalled_intervention_points %}
                                        <a href="{% url 'ab_testing_tool_delete_intervention_point' intervention_point.id %}" 
                                            data-toggle="tooltip" data-placement="top" 
                                            title="Delete Intervention Point '{{intervention_point.name}}'"
                                            class="btn btn-icon-only ip-btn-delete">
                                            <i class="fa fa-trash"></i><span>Delete</span>
                                        </a>
                                    {% else %}
                                        <a href="#" class="btn btn-icon-only ip-btn-delete disabled">
                                            <i class="fa fa-trash"></i><span>Delete</span>
                                        </a>
                                    {% endif %}
                                    <a data-toggle="modal" href="#editIntervention_{{intervention_point.id}}">
                                        Intervention Point "{{intervention_point.name}}"</a>
                                    
                                    {% if intervention_point.is_missing_urls %}
                                    <span class="ip-status missing-url">
                                        <i class="fa fa-warning"></i>
                                        <span>URLs missing</span>
                                    </span>
                                    {% endif %}
                                    {% if intervention_point not in uninstalled_intervention_points %} 
                                    <span class="ip-status ip-installed">
                                        <i class="fa fa-check"></i>
                                        <span>Installed</span>
                                    </span>
                                    {% endif%}
                                    <span class="date block">
                                        Last modified {{intervention_point.updated_on}}
                                    </span>
                                </li>
                                {% empty %}
                                <li class="list-group-item">
                                    No intervention points currently exist for this experiment. Click on "Add Intervention Point" to get started.

                                    <a href="#createIntervention_{{experiment.id}}" id="add_intervention_point_button" data-toggle="modal" class="btn btn-icon btn-no-ip">
                                        <i class="fa fa-plus"></i>Add Intervention Point
                                    </a>

                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if experiment.intervention_points.count != 0 %}
                    <div class="panel-footer">
                        <ul>
                            <li>
                                <a href="#createIntervention_{{experiment.id}}" id="add_intervention_point_button" data-toggle="modal" class="btn btn-icon btn-ip-options">
                                    <i class="fa fa-plus"></i>Add Intervention Point
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'ab_testing_tool_copy_experiment' experiment.id %}" class="btn btn-icon btn-ip-options" id="copy_experiment_button">
                                Copy Experiment </a>
                            
                            </li>
                            {% if experiment.tracks_finalized %}
                                <li>
                                    <a id="download_students_button" href="{% url 'ab_testing_tool_download_data' experiment.id %}" class="btn btn-icon btn-ip-options">
                                        <i class="fa fa-download"></i>Download Students
                                    </a>
                                </li>
                                <li>
                                    <a id="download_intervention_point_interactions_button" href="{% url 'ab_testing_tool_download_intervention_point_interactions' experiment.id %}" class="btn btn-icon btn-ip-options">
                                        <i class="fa fa-download"></i>Download Interactions
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'ab_testing_tool_download_data' experiment.id %}" class="btn btn-icon btn-ip-options disabled">
                                        <i class="fa fa-download"></i>Download Students
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'ab_testing_tool_download_intervention_point_interactions' experiment.id %}f" class="btn btn-icon btn-ip-options disabled">
                                        <i class="fa fa-download"></i>Download Interactions
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div><!-- exp (end) -->

        {% empty %}
            <div class="infoBlock infoBlock-empty">
                <h3>No experiments currently exist for this course. Click on "New Experiment" to get started.</h3>
            </div>
        {% endfor %}
    </div>
</main>


{% include "ab_tool/modals.html" %}

{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static 'ab_tool/js/jquery.dropdown.js' %}" type="text/javascript"></script>

<script type="text/javascript">
$(document).ready(function(){
    $('.addIntervention').modal('show');

    $('select').selectmenu({
        format: function(text){
            var pattern = /([\s\S]+)\-\- ([\s\S]+)/;
            var replacement = '<span class="option-title">$1</span><span class="option-description">$2</span>';
            return text.replace(pattern, replacement);
        }
    });

    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
