<!-- START Modal code for create intervention-->
{% for experiment in experiments %}
<div class="modal fade" id="createIntervention_{{experiment.id}}" tabindex="-1" role="dialog" aria-labelledby="addIntervention" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="">New Intervention Point</h4>
        </div>
        <form class="form-horizontal" role="form" method="post" name="intervention_point_creation_form"
            action="{% url 'ab:submit_create_intervention_point' experiment.id %}">
            <div class="modal-body">
                <div class="form-group col-sm-12">
                    <label for="interventionName">Name:</label>
                    <input type="text" name="name" id="interventionName" class="form-control" placeholder="Enter Intervention Name">
                </div>
                
                {% for track in experiment.tracks.all %}
                <div class="form-group">
                    <div class="col-sm-9">
                        <label for="track_{{track.id}}">Track "{{track.name}}":</label>
                        <input type="url" name="intervention_point_url_{{track.id}}"
                            id="intervention_point_url_{{track.id}}" class="form-control"
                            value="">
                    </div>
                    <div class="col-sm-3">
                        <label for="is_canvas_page_for_track_{{track.id}}">Open:</label>
                        <select name="is_canvas_page_for_track_{{track.id}}"
                            id="is_canvas_page_for_track_{{track.id}}">
                            <option selected="selected" value="canvasPage">Canvas URL</option>"newTab">In new tab</option>
                            <option value="externalPage">External URL in Canvas</option>
                            <option value="newTab">In new tab</option>
                        </select>
                    </div>
                </div>
                {% endfor %}
                
                <div class="form-group col-sm-12">
                    <label class="control-label" for="interventionNotes">Notes</label>
                    <textarea name="notes" id="interventionNotes" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <a class="" data-dismiss="modal">Cancel</a>
                <input type="submit" class="btn btn-primary" value="Save">
            </div>
        </form>
    </div>
  </div>
</div>
{% endfor %}

<!-- START Modal code for edit intervention-->
{% for intervention_point in intervention_points %}
<div class="modal fade" id="editIntervention_{{intervention_point.id}}"
    tabindex="-1" role="dialog" aria-labelledby="editIntervention_{{intervention_point.id}}"
    aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit Intervention Point</h4>
        </div>
        <form method="post" class="form-horizontal" name="intervention_point_form"
            action="{% url 'ab:submit_edit_intervention_point' intervention_point.id %}">
            <div class="modal-body">
                <div class="form-group col-sm-12">
                    <label for="interventionName">Name:</label>
                    <input type="text" name="name" id="intervention_{{intervention_point.id}}"
                        class="form-control" value="{{intervention_point.name}}">
                </div>
                
                    {% for track_url in intervention_point.track_urls %}
                    <div class="form-group">
                        <div class="col-sm-9">
                            <label for="track_{{track_url.track.id}}">Track "{{track_url.track.name}}":</label>
                            <input type="url" name="intervention_point_url_{{track_url.track.id}}"
                                id="intervention_point_url_{{track_url.track.id}}" class="form-control"
                                value="{{track_url.url}}">
                        </div>
                        <div class="col-sm-3">
                            <label for="is_canvas_page_for_track_{{track_url.track.id}}">Open:</label>
                            <select name="is_canvas_page_for_track_{{track_url.track.id}}"
                                id="is_canvas_page_for_track_{{track_url.track.id}}">
                                <option {% if track_url.open_as_tab %}selected="selected"{% endif %}
                                    value="newTab">In new tab</option>
                                <option {% if not track_url.open_as_tab and not track_url.is_canvas_page %}selected="selected"{% endif %}
                                    value="externalPage">External URL in Canvas</option>
                                <option {% if not track_url.open_as_tab and track_url.is_canvas_page %}selected="selected"{% endif %}
                                    value="canvasPage">Canvas URL</option>
                            </select>
                        </div>
                    </div>
                    {% endfor %}
                
                <div class="form-group col-sm-12">
                    <label class="control-label" for="interventionPointNotes">Notes</label>
                    <textarea name="notes" id="interventonPointNotes" class="form-control">{{ intervention_point.notes }}</textarea>
                </div>
            </div>
            <div class="modal-footer">
                <a class="" data-dismiss="modal">Cancel</a>
                <input type="submit" class="btn btn-primary" value="Save">
            </div>
        </form>
    </div>
  </div>
</div>
{% endfor %}
<!-- END Modal code for edit intervention-->


{% if incomplete_intervention_points %}
<!-- START Modal code for incomplete_intervention_points confirmation box-->
<div id="incomplete_intervention_points_modal" class="modal fade" role="dialog" aria-labelledby="incomplete_intervention_points_modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Some Intervention Points Are Missing URLs</h4>
            </div>
            <div class="modal-body">
                <p>Complete your intervention points by filling in the URLs fields for all tracks.</p>
                <p class="text-warning">These following intervention points are incomplete: {{ incomplete_intervention_points|join:", " }} </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-lg btn-primary" data-dismiss="modal"> Close </a>
            </div>
        </div>
    </div>
</div>
<!-- END Modal code for incomplete_intervention_points confirmation box-->
{% endif %}

{% if missing_track_weights %}
<!-- START Modal code for missing_track_weights confirmation box-->
<div id="missing_track_weights_modal" class="modal fade" role="dialog" aria-labelledby="missing_track_weights" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Some Tracks Are Missing Weights</h4>
            </div>
            <div class="modal-body">
                <p>Complete your track weights by filling out weights for all tracks.</p>
                <p class="text-warning">These following tracks are missing weights: {{ missing_track_weights|join:", " }} </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-lg btn-primary" data-dismiss="modal"> Close </a>
            </div>
        </div>
    </div>
</div>
<!-- END Modal code for missing_track_weights confirmation box-->
{% endif %}

{% for experiment in experiments %}
<!-- START Modal code for Finalize Tracks confirmation box-->
<div id="finalize_modal{{experiment.id}}" class="modal fade" role="dialog" aria-labelledby="finalize_modal{{experiment.id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Start Experiment Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to start this experiment?</p>
                <p class="text-warning">Starting an experiment cannot be undone. Once started, the experiment assignment method and number of tracks cannot be changed. Students will be assigned to tracks when they first visit an intervention point in this experiment.</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-lg btn-primary" data-dismiss="modal"> Close </a>
                <a class="btn btn-lg btn-danger"  href="{% url 'ab:finalize_tracks' experiment.id %}"> Yes, Start Experiment </a>
            </div>
        </div>
    </div>
</div>
<!-- END Modal code for Finalize Tracks confirmation box-->
{% endfor %}
