<!-- START Modal code for Modules Installations modal (to see where intervention points are installed-->
<div id="modules_installations" class="modal fade" role="dialog" aria-labelledby="modules_installations" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Modules Installations</h4>
            </div>
            <div class="modal-body">
                <p>See where A/B intervention points are installed in your modules.</p>
                    {% for m in modules %}
                        <h3 class="module-name" id="module_{{m.id}}">Module: {{m.name}}</h3>
                        <ul class="list-modules" id="module_items_{{m.id}}">
                            {% for i in m.module_items %}
                            
                                {% if i.is_intervention_point %}
                                <li class="intervention-in-module">
                                    <strong>Intervention Point:</strong> {{i.database_name}}  |  <strong>Experiment:</strong> {{i.experiment_name}}  |  <strong>Displayed To Student As:</strong> {{i.title}}
                                {% else %}
                                <li>
                                    {{i.title|default:"[ Item not titled]"}}
                                {% endif %}

                            {% empty %}
                                No items found in this module.
                            </li>
                            {% endfor %}
                        </ul>
                    {% empty %}
                        <p>No modules found.</p>
                    {% endfor %}
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-lg btn-submit-primary" data-dismiss="modal"> Close </a>
            </div>
        </div>
    </div>
</div>







<!-- START Modal code for create intervention-->
{% for experiment in experiments %}
<div class="modal fade"  data-modal="intervention-new" id="createIntervention_{{experiment.id}}" tabindex="-1" role="dialog" aria-labelledby="addIntervention" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="">New Intervention Point</h4>
        </div>
        <form class="form-horizontal" role="form" method="post" name="intervention_point_creation_form"
            action="{% url 'ab_testing_tool_submit_create_intervention_point' experiment.id %}">
            <div class="modal-body">
                <fieldset>
                    <legend class="sr-only">Name of intervention point</legend>
                    <div class="form-group">
                        <label for="interventionName">Name:</label> <i class="fa fa-asterisk"></i>
                        <input type="text" name="name" id="interventionName" class="form-control intervention-name"
                                placeholder="Enter Intervention Name">
                    </div>
                    <div class="form-group-description">
                        <p>Please enter a name for this intervention point.</p>
                    </div>
                </fieldset>

                {% for track in experiment.tracks.all %}
                <fieldset>
                    <legend class="sr-only">Tracks for experiment</legend>
                    <div class="form-group-inline-left previewURL">
                        <label for="intervention_point_url_{{track.id}}">Track "{{track.name}}":</label>
                        <a href="#" class="preview-link">preview</a>
                        <input type="url" name="intervention_point_url_{{track.id}}"
                            id="intervention_point_url_{{track.id}}" class="form-control intervention-url"
                            value="" placeholder="Enter URL">
                        <!--a href="#"><i class="fa fa-question-circle"></i></a-->
                    </div>
                    <div class="form-group-description">
                        <p>Please enter a URL for this track to view in this intervention point.</p>
                    </div>

                    <div class="form-group-inline-right">
                        <label for="is_canvas_page_for_track_{{track.id}}">Open</label>
                        <div class="custom-dropdown">
                            <select name="is_canvas_page_for_track_{{track.id}}"
                                id="is_canvas_page_for_track_{{track.id}}">
                                <option value="canvasPage">Canvas URL -- Students in this track are redirected to this Canvas page.</option>
                                <option value="externalPage">External URL in Canvas -- Students in this track view this page within Canvas.</option>
                                <option value="newTab">In new tab -- Students in this track open this page in a new tab.</option>
                            </select>
                        </div>
                        <!--a href="#"><i class="fa fa-question-circle"></i></a-->
                    </div>
                    <div class="form-group-description">
                        <p>Please choose how you would like the web page to be displayed for students.</p>
                    </div>
                </fieldset>
                {% endfor %}

                <fieldset class="fieldset-noborder">
                    <legend class="sr-only">Notes about your experiment</legend>

                    <div class="form-group">
                        <label for="interventionNotes">Notes</label>
                        <textarea name="notes" id="interventionNotes" class="form-control" style="resize:vertical"></textarea>
                    </div>

                </fieldset>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link" data-dismiss="modal">Cancel</a>
                <!--input type="submit" class="btn btn-submit-primary" value="Save"-->
                <button type="submit" class="btn btn-submit-primary intervention-create submitter">Create</button>
            </div>
        </form>
    </div>
  </div>
</div>
{% endfor %}

<!-- START Modal code for edit intervention-->
{% for intervention_point in intervention_points %}
<div class="modal fade" data-modal="intervention-edit" id="editIntervention_{{intervention_point.id}}"
    tabindex="-1" role="dialog" aria-labelledby="editIntervention_{{intervention_point.id}}"
    aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit Intervention Point</h4>
        </div>
        <form method="post" class="form-horizontal" name="intervention_point_form"
            action="{% url 'ab_testing_tool_submit_edit_intervention_point' intervention_point.id %}">
            <div class="modal-body">

                <fieldset>
                    <legend class="sr-only">Name of experiment</legend>

                    <div class="form-group">
                        <label for="intervention_{{intervention_point.id}}">Name:</label>
                        <input type="text" name="name" id="intervention_{{intervention_point.id}}"
                            class="form-control intervention-name" value="{{intervention_point.name}}"
                            placeholder="Enter Intervention Name">
                        <!--a href="#"><i class="fa fa-question-circle"></i></a-->
                    </div>
                    <div class="form-group-description">
                        <p>A descriptive name for this track. This will help you blah blah blah</p>
                    </div>

                </fieldset>

                {% for track_url in intervention_point.track_urls %}
                <fieldset>
                    <legend class="sr-only">Tracks for experiment</legend>

                    <div class="form-group-inline-left previewURL">
                        <label for="intervention_point_url_{{track_url.track.id}}">Track "{{track_url.track.name}}":</label>
                        <a href="#" class="preview-link">preview</a>
                        <input type="url" name="intervention_point_url_{{track_url.track.id}}"
                            id="intervention_point_url_{{track_url.track.id}}" class="form-control intervention-url"
                            value="{{track_url.url}}" placeholder="Enter URL">
                        <!--a href="#"><i class="fa fa-question-circle"></i></a-->
                    </div>
                    <div class="form-group-description">
                        <p>A descriptive name for this track. This will help you blah blah blah</p>
                    </div>

                    <div class="form-group-inline-right">
                        <label for="is_canvas_page_for_track_{{track_url.track.id}}">Open</label>
                        <div class="custom-dropdown">
                            <select name="is_canvas_page_for_track_{{track_url.track.id}}"
                                id="is_canvas_page_for_track_{{track_url.track.id}}">
                                <option {% if not track_url.open_as_tab and track_url.is_canvas_page %}selected="selected"{% endif %}
                                    value="canvasPage">
                                    Canvas URL -- Students in this track are redirected to this Canvas page.
                                </option>
                                <option {% if not track_url.open_as_tab and not track_url.is_canvas_page %}selected="selected"{% endif %}
                                    value="externalPage">
                                    External URL in Canvas -- Students in this track view this page within Canvas.
                                </option>
                                <option {% if track_url.open_as_tab %}selected="selected"{% endif %}
                                    value="newTab">
                                    In new tab -- Students in this track open this page in a new tab.
                                </option>
                            </select>
                        </div>
                        <!--a href="#"><i class="fa fa-question-circle"></i></a-->
                    </div>
                    <div class="form-group-description">
                        <p>A descriptive name for this track. This will help you blah blah blah</p>
                    </div>

                </fieldset>
                {% endfor %}
                
                <fieldset class="fieldset-noborder">
                    <legend class="sr-only">Notes about your experiment</legend>

                    <div class="form-group">
                        <label for="interventionPointNotes">Notes</label>
                        <textarea name="notes" id="interventonPointNotes" class="form-control">{{ intervention_point.notes }}</textarea>
                    </div>

                </fieldset>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn btn-link" data-dismiss="modal">Cancel</a>
                <button type="submit" class="btn btn-submit-primary intervention-update submitter">Update</button>
            </div>
        </form>
    </div>
  </div>
</div>
{% endfor %}
<!-- END Modal code for edit intervention-->


{% for experiment in experiments %}
<!-- START Modal code for incomplete_intervention_points confirmation box-->
<div id="incomplete_intervention_points_modal{{experiment.id}}" class="modal fade" role="dialog" aria-labelledby="incomplete_intervention_points_modal{{experiment.id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Some Intervention Points Are Missing URLs</h4>
            </div>
            <div class="modal-body">
                <p>Complete your intervention points by filling in the URLs fields for all tracks.</p>
                <p class="text-warning">These following intervention points are incomplete: {{ experiment.get_incomplete_intervention_point_names|join:", " }} </p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-lg btn-submit" data-dismiss="modal"> Close </a>
            </div>
        </div>
    </div>
</div>
<!-- END Modal code for incomplete_intervention_points confirmation box-->
{% endfor %}

{% for experiment in experiments %}
<!-- START Modal code for Finalize Tracks confirmation box-->
<div id="finalize_modal{{experiment.id}}" class="modal fade" role="dialog" aria-labelledby="finalize_modal{{experiment.id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Start Experiment Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to start this experiment?</p>
                <p class="text-warning">Starting an experiment cannot be undone. Once started, the experiment assignment method and number of tracks cannot be changed. Students will be assigned to tracks when they first visit an intervention point in this experiment.</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-lg btn-submit-primary" data-dismiss="modal"> Close </a>
                <a class="btn btn-lg btn-submit submitter" href="{% url 'ab_testing_tool_finalize_tracks' experiment.id %}"> Yes, Start Experiment </a>
            </div>
        </div>
    </div>
</div>
<!-- END Modal code for Finalize Tracks confirmation box-->
{% endfor %}


{% for experiment in experiments %}
<!-- START Modal code for Delete Experiment confirmation box-->
<div id="delete_modal{{experiment.id}}" class="modal fade" role="dialog" aria-labelledby="delete_modal{{experiment.id}}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Experiment Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this experiment?</p>
                <p class="text-warning">Are you sure you want to delete experiment "{{experiment.name}}"?  This will also delete all intervention points for this experiment.</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-lg btn-submit-primary" data-dismiss="modal"> Close </a>
                <a class="btn btn-lg btn-link submitter"  href="{% url 'ab_testing_tool_delete_experiment' experiment.id %}"> Yes, Delete Experiment </a>
            </div>
        </div>
    </div>
</div>
<!-- END Modal code for Delete Experiment confirmation box-->
{% endfor %}
