{% extends "ab_tool/base_lti.html" %}
{% load static %}

{% block stylesheet %}
{{ block.super }}
{% endblock %}
{% block content %}

<div class="container">
    <header>
        <h1>Intervention Point "{{intervention_point.name}}"</span></h1>
    </header>
    
    <main>
    <p>Below is a summary of your intervention point</p>
        <dl id="expSummary" class="list list-horizontal">
            <dt class="list-item-title">Name:</dt>
            <dd>{{intervention_point.name}}</dd>
            
        {% for track_url in intervention_point.track_urls %}
            <dt class="list-item-title">Track "{{track_url.track.name}}":</dt>
            <dd>
                {{track_url.url}}<br>
                <em>
                    Open:
                    {% if track_url.open_as_tab %}In new tab{% endif %}
                    {% if not track_url.open_as_tab and not track_url.is_canvas_page %}External URL in Canvas{% endif %}
                    {% if not track_url.open_as_tab and track_url.is_canvas_page %}Canvas URL{% endif %}
                </em> 
            </dd>
            
        {% endfor %}

            <dt class="list-item-title">Notes:</dt>
            <dd>
                {% if intervention_point.notes == '' %}
                    empty
                {% else %}
                    {{ intervention_point.notes }}
                {% endif %}
            </dd>
        </dl>
            
        <a  class="btn btn-submit-primary" 
            href="{% url 'ab_testing_tool_modules_page_edit_intervention_point' intervention_point.id %}">
                Edit
        </a> 
        
    </main>
</div>

{% endblock %}
