<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>A/B Testing Tool</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"  type="text/css"/>
    <link rel="stylesheet" href="../static/css/jquery-ui.min.css">
    <link rel="stylesheet" href="../static/css/control_panel.css"  type="text/css"/>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h2>A/B Testing Control Panel</h2>
      <p>Welcome administrator. Manage your A/B course intervention points here.</p>
    </div>

    <div id="tabs">
    <ul>
    <li><a href="#tabs-1">Tracks</a></li>
    <li><a href="#tabs-2">A/B Intervention Points</a></li>
    <li><a href="#tabs-3">Course Modules</a></li>
    <li><a href="#tabs-4">Data</a></li>
    </ul>
        <!-- Tab for Tracks-->
        <div id="tabs-1">
             <div class="span8">
                <p> Create and Edit your A/B Tracks here. You can assign student cohorts to a track <b> only after </b> finalizing your tracks.</p>
                <br>
                {% if not is_finalized %}
                <a id="create_track_button" class="btn btn-lg btn-success"  href="{% url 'create_track' %}"> Create New Track</a>
                <a id="finalize_button" class="btn btn-lg btn-danger" {% if incomplete_stages %} href="#incomplete_stages_modal" {% else %} href="#finalize_modal" {% endif %} data-toggle="modal" > Finalize Tracks</a>
                {% if incomplete_stages %}
                <!-- START Modal code for incomplete_stages confirmation box-->
                <div id="incomplete_stages_modal" class="modal fade" role="dialog" aria-labelledby="finalize_modal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Some Intervention Points Are Missing URLs</h4>
                            </div>
                            <div class="modal-body">
                                <p>Complete your intervention points by filling in the URLs fields for all tracks.</p>
                                <p class="text-warning">These following intervention points are incomplete: {{ incomplete_stages|join:", " }} </p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-lg btn-primary" data-dismiss="modal"> Close </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Modal code for incomplete_stages confirmation box-->
                {% endif %}
                
                <!-- START Modal code for Finalize Tracks confirmation box-->
                <div id="finalize_modal" class="modal fade" role="dialog" aria-labelledby="finalize_modal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Finalize Tracks Confirmation</h4>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to finalize your tracks?</p>
                                <p class="text-warning">Finalizing tracks cannot be undone. Once finalized, tracks can no longer be created or deleted. Existing tracks can still be edited. </p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-lg btn-primary" data-dismiss="modal"> Close </a>
                                <a class="btn btn-lg btn-danger" href="{% url 'finalize_tracks' %}"> Yes, Finalize Tracks </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END Modal code for Finalize Tracks confirmation box-->
                <br>
                {% else %}
                <a id="create_track_button_disabled" class="btn btn-lg btn-success disabled"> Create New Track</a>
                <a id="finalize_button_disabled" class="btn btn-lg btn-danger disabled"> Finalize Tracks</a>
                <br><br>
                <h4 class="text-center nowrap">Tracks Are Finalized.</h4>
                <h5 class="text-center nowrap">Note: Tracks can no longer be deleted or created. Existing tracks can still be edited.</h5>
                {% endif %}
                <br>
                <div class="list-group span4">
                    {% for m in tracks %}
                        <h4><a href="{% url 'edit_track' m.id %}" class="list-group-item clearfix" id="track_{{m.id}}">
                                <span><strong>{{m.name}} </strong></span>
                            </a>
                        </h4>
                    {% empty %}
                        <br>
                        <p>No Tracks found.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Tab for Intervention Points-->
        <div id="tabs-2">
            <div class="span8">
                <p> Create and Edit your A/B intervention points here. </p>
                <br>
                <a id="create_new_stage_button" class="btn btn-lg btn-success" style="align:left" href="{% url 'create_stage' %}"> Create New Intervention Point</a>
                <br><br>
        
                <div class="list-group span4">
                    {% for t in stages %}
                    <a href="{% url 'edit_stage' t.id %}" class="list-group-item"><strong>{{t.name}}</strong> <i>{{t.is_missing_urls|yesno:"- URLs missing,complete"}}</i></a>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Tab for Modules-->
        <div id="tabs-3">
            <div class="span8">
                <p> See where A/B intervention points are positioned in your modules here. </p>
                <br>
                <div class="list-group span4">
                    {% for m in modules %}
                        <h4><a class="list-group-item" id="module_{{m.id}}"> <strong>Module: {{m.name}}</strong></a></h4>
                        <div id="module_items_{{m.id}}" style="display: none">
                                <ul class="list-group">
                                    {% for i in m.module_items %}
                                        {% if i.is_stage %}
                                            <a class="list-group-item active">{{i.title}} | <i> Intervention Point</i></a>
                                        {% else %}
                                            <p class="list-group-item">{{i.title|default:"[ Item not titled]"}}</p>
                                        {% endif %}
                                    {% empty %}
                                        <p>No items found in this module.</p>
                                    {% endfor %}
                                </ul>
                        </div>
                    {% empty %}
                        <p>No modules found.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- Tab for Data-->
        <div id="tabs-4">
            <div class="span8">
                <p> Download a CSV file of your A/B testing data here. </p>
                <br>
                <a id="download_data_button" href="{% url 'download_data' %}" class="btn btn-lg btn-primary"> Download Data</a>
            </div>
        </div>
    </div>
</div>


<script src="../static/js/jquery-1.10.1.min.js"></script>
<script src="../static/js/jquery-ui.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>

<!-- JS for expanding modules-->
<script>
{% for m in modules %}
$( "#module_" + {{m.id}}).click(function() {
$( "#module_items_" + {{m.id}}).toggle('fast');
});
{% endfor %}

// JS for tabbed UI
$(function() {
$( "#tabs" ).tabs();
});
</script>

</body>
</html>
