<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="../static/css/bootstrap.min.css"  type="text/css"/>
</head>
<body>
<script>
try {
    if (window.top.location != "{{ url }}") {
        window.location.replace("{{ url }}");
    }
} catch (err) {
    console.log(err);
}
</script>

<span class="col-md-2 col-md-offset-5">
<p> To visit the URL, click the button below. </p>
<br>
<a id="fallback-button" target="_blank" href="{{url}}" class="btn btn-lg btn-success ">Open in New Tab</a>
</span>
</body>
</html>
