<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>A/B Testing Tool</title>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"  type="text/css"/>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h2>A/B Testing Tool</h2>
        <p>Welcome administrator. Manage your course variations here.</p>
    </div>
    <div class="span12">
        <div class="row">
            <h3>Variations</h3>
        </div>
        <div class="list-group">
            <h4><a href="/control" class="list-group-item">Control</a></h4>
            <h4><a href="/variation1" class="list-group-item">Variation 1</a></h4>
            {% for v in variations %}
            <h4><a href="/variation/{{v.id}}" class="list-group-item">{{v.id}}</a></h4>
            {% endfor %}
        </div>
        <form class="form-inline" method="POST" action="/create_variation" name="create_variation" accept-charset="utf-8">
            <input type="text" class="input-large" name="variation_name" placeholder="Enter new variation name here..."/>
            <button type="submit" class="btn btn-success">Create Variation</button>
        </form>
    </div>
</div>
</body>
</html>
