<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>A/B Testing Tool</title>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"  type="text/css"/>
    <link rel="stylesheet" href="../static/css/dashboard.css"  type="text/css"/>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <table class="table">
        <tbody>
        <h2>A/B Stage "{{treatment.name|default:"Unnamed"}}"</h2>
        <!-- <td class="text-right nowrap"><a href="/" class="btn btn-lg btn-primary" id="delete">Go To Dashboard</a></td>-->
        <tr>
        <td ><p>Created: {{treatment.created_on}} | Last updated: {{treatment.updated_on}} </p></td>
        {% if treatment.id %}
        <td class="text-right nowrap"><a href="/delete_treatment/{{ treatment.id }}" class="btn btn-lg btn-danger" id="delete">Delete Stage</a></td>
        {% endif %}
        </tr>

        </tbody>
        </table>
    </div>
            <form method="post" name="treatment_form" {% if treatment.id %} action="{% url 'update_treatment' %}"{% else %} action="{% url 'create_treatment' %}" {% endif %}>
            {% csrf_token %}
                <input type='hidden' name='id' value="{{ treatment.id }}">
                <table class="table">
                <tr align="left">
                    <td><label>Stage Name</label></td>
                    <td><input class="form-control"  type="text" name="name" value="{{ treatment.name }}"/></td>
                </tr>
                {% for t, s in tracks %}
                <tr align="left">
                    <td><label>URL for Track "{{t.name}}" </label></td>
                    <td><input class="form-control"  type="text" name="_stageurl_{{t.id}}" value="{{ s.url }}"/></td>
                </tr>
                {% endfor %}
                <tr align="left">
                    <td><label>Stage Notes</label></td>
                    <td><textarea name="notes" rows="6" cols="80" >{{ treatment.notes }}</textarea></td>
                </tr>
                <tr>
                <td></td>
                <td><input type="submit" name="submit" value="Submit Changes" class="btn btn-lg btn-success submit"></td>
                </tr>
                </table>

           </form>
</div>
</body>
</html>

