<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>A/B Testing Tool</title>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"  type="text/css"/>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h2>Edit Treatment</h2>
        <p>Edit your A/B course treatments here.</p>
    </div>
        <form method="post" name="treatment_form" action="{% url 'update_treatment' %}">
        {% csrf_token %}
        <input type='hidden' name='id' value="{{ treatment.id }}">
        <table class="table table-striped">
        <tr align="left">
            <td><label>Treatment Name</label></td>
            <td><input class="form-control"  type="text" name="name" value="{{ treatment.name }}"/></td>
        </tr>
        <tr align="left">
            <td><label>Treatment URL 1</label></td>
            <td><input class="form-control"  type="text" name="url1" value="{{ treatment.treatment_url1 }}"/></td>
        </tr>
        <tr align="left">
            <td><label>Treatment URL 2</label></td>
            <td><input class="form-control"  type="text" name="url2" value="{{ treatment.treatment_url2 }}" /></td>
        </tr>
        <tr align="left">
            <td><label>Treatment Notes</label></td>
            <td><textarea name="notes" rows="6" cols="80" >{{ treatment.notes }}</textarea></td>
        </tr>
        </table>
        <input type="submit" name="submit" value="Submit" class="btn btn-large btn-primary submit">
        </form>

</body>
</html>

